@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #0f0f0f;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--bg-color);
  background-image: url("/bg-lines.png");
  background-position: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
li,
span,
p {
  color: #fff;
}

@layer components {
  .showcase-h1 {
    @apply py-10 leading-none font-bold text-[3rem]  md:text-[4rem]  xl:text-[5rem] 2xl:text-[6.5rem];
  }
  .flex-between-center {
    @apply flex justify-between items-center flex-wrap;
  }
  .flex-center-center {
    @apply flex justify-center items-center flex-wrap text-center;
  }
}
